<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://molchanovs.com/cdn/shop/articles/Molchanovs_Freediving_-_What_is_Freediving_by_Alexey_Molchanov.jpg?v=1603086438&width=1080);">
  <div class="container">
    <h1>Tu <strong>mejor</strong> proxima <strong>aventura!</strong>!</h1>
    <p>Muchas academias, miles de cursos!</p>
    <a class="btn btn-primary" href="#">Reserva ahora</a>
  </div>
</div>

<%# cards %>

<div class="container">
 <div class="row">
  <% @academies.each do |academy|%>
   <div class="col-md-4">
    <div class="card shadow border p-3">
     <div class="card-body">
      <p><%= academy.phot %></p>
      <p><%= academy.name %></p>
      <p><%= academy.address %></p>
      <p><%= academy.rating %></p>
      <p><%= academy.review %></p>
     </div>
    </div>
   </div>
  <% end %>
 </div>
</div>

<%# footer %>
<br><br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> diving
  </div>
</div>
