<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://molchanovs.com/cdn/shop/articles/Molchanovs_Freediving_-_What_is_Freediving_by_Alexey_Molchanov.jpg?v=1603086438&width=1080);">
  <div class="container">
    <h1>Tu <strong>próxima</strong> mejor <strong>aventura!</strong>!</h1>
    <p>Muchas academias, miles de cursos!</p>
    <%= link_to "Reserva ahora", courses_path, class: "btn btn-primary" %>
  </div>
</div>

<%# cards %>

<div class="container mt-5">
  <div class="row">
    <% @academies.each do |academy|%>
      <div class="col-md-4">
        <div class="card_transition image shadow border p-3" style="background-image: url('<%= url_for(academy.photo) %>'); background-size: cover; background-position: center;">
          <div class="content d-flex flex-column">
            <h2 class="title"><%= academy.name %></h2>
            <p class="rating"><%= academy.rating %></p>
            <%= link_to "View Details", academy_path(academy), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# footer %>
<br><br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> diving
  </div>
</div>
