<h1>Editar Curso</h1>

<%= simple_form_for @course do |f| %>
  <%= f.input :name, label: 'Nombre' %>
  <%= f.input :price, label: 'Precio' %>
  <%= f.button :submit, 'Actualizar Curso' %>
<% end %>

<%= link_to 'Atrás', courses_path %>
