<div class="d-flex justify-content-center align-items-center">
  <div class=" mt-5 card-width">
  <%#= cl_image_tag @course.photos.first.key, class: 'card-img-top' %>
    <div class="card">
      <div class="card-checkout-body">
          <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= flash[:notice] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <h5 class="card-title"><%= @course.name %></h5>
        <div class="row">
          <div class="col-9">
            <p class="card-text"><%= @course.description %></p>
          </div>
          <div class="col-3 d-flex">
            <p class="card-text"><strong><%= @course.price %></strong></p>
          </div>
        </div>
        <div class="row">
          <% if @course.owner?(current_user) %>
           <%= link_to "Back", courses_path , class:"btn btn-secondary text-decoration-none mt-2" %>
            <%= link_to "Edit", edit_course_path(@course.id), class:"btn btn-secondary text-decoration-none mt-2" %>
            <%= link_to "Delete", course_path(@course.id), class:"btn btn-secondary text-decoration-none mt-2", method: :delete, data: { confirm: "Are you sure?" } %>
          <% else %>
            <!-- Button trigger modal -->
            <button class="btn btn-primary btn-custom-small" data-bs-toggle="modal" data-bs-target="#exampleModal">
              reserve
            </button>
            <%end%>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <%=simple_form_for [@course, @reservation] do |f| %>
                        <%= f.input :reservation_date %>
                        <%= f.button :submit, 'Pay', class: 'btn btn-primary' %>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
        </div>
    </div>

<%= link_to("Atrás", :back) %>
<%= link_to "Ver todos los cursos", courses_path %>

<% if user_signed_in? %>
 <% if current_user.academies.include?(@course.academy) %>
  <%= link_to "Edit", edit_course_path(@course.id) %>
  <%= link_to "Delete", course_path(@course.id), method: :delete, data: { confirm: "Are you sure?" } %>
 <% end %>
<% end %>

