<div class="d-flex justify-content-center align-items-center">
  <div class="card mt-3 card-width">
  <%#= cl_image_tag @course.photo.key, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= @course.name %></h5>
    <div class="row">
       <div class="col-9">
          <p class="card-text"><%= @course.description %></p>
       </div>
    <div class="col-3">
          <p class="card-text"><strong><%= @course.price %></strong></p>
    </div>
    </div>

    <%= link_to "Back", courses_path , class:"btn btn-light text-decoration-none mt-2" %>
    <%= link_to "Edit", edit_course_path(@course.id), class:"btn btn-light text-decoration-none mt-2" %>
    <%= link_to "Delete", course_path(@course.id), class:"btn btn-light text-decoration-none mt-2", method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to "Reserve", reservations_path, class: "btn btn-success text-decoration-none mt-2" %>
  </div>
</div>
</div>

<%#= form_with model: [@course, @reservation] do |f| %>
  <%#= f.label :name, 'Name' %>
  <%#= f.text_field :name %>

  <%#= f.label :email, 'Email' %>
  <%#= f.email_field :email %>
  <%# f.label :address, 'Adress'%>

  <%#= f.label :email, 'Email' %>
  <%#= f.email_field :email %
  <%#= f.submit 'Reserve', class: 'btn btn-primary' %>
<%# end %>
